
.card-body {
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.52);
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.52);
}
.card .card-title {
  color: #17a2b8;
}
.card-image {
  height:200px;
  width:200px;
}
.border-left {
  border-left: 1px solid #dee2e6 !important;
}
.available-quanity-span {
  color:red;
  font-size: 15px;
  font-weight: bold;
}
